*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
main{
    background-color: #000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.first-photo, .second-photo, .third-photo, .forth-photo{
    position: relative;
    text-align: center;
    color: white;
    border-right: 2px solid #000;
    border-bottom: none;
    transition: transform .2s; /* Animation */
  }
  .first-photo:hover, .second-photo:hover, .third-photo:hover, .forth-photo:hover{
  transform: scale(1.2);
  }
  .texts{
    position: absolute;
    bottom: 38px;
    left: 24px;
    padding: 16px;
    text-align: start;
   
  }
  .texts p{
    text-transform: capitalize;
    font-family: 'Poppins';
    padding-top: 16px;
    font-size: 14px;
    color: #dad6d6;
  }
  .texts h1{
    text-transform: uppercase;
    font-family: din-condensed, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
  .texts a{
    text-decoration: none;
    font-family: 'Poppins';
    color: rgb(13, 202, 231);
    font-size: 15px;
  }